 <style type="text/css">
        .aione-nav.horizontal {
            border-bottom: 0px;
        }
        
        .icon-hover i:hover{
            color: #fab702;
            transition: all 0.4s;
        }
        ul li span:hover{
          color: #fab702;
          transition: all 0.4s;
        }
    </style>
<div class="ar p-20">
  <div class="ac l20 m50 s100 aione-align-center">
      <div class="site-title">
          <div class="title font-size-25 font-weight-700 grey darken-4">THEME</div>
          <div class="tagline font-size-20 font-weight-700 " style="color: #fab702;">CORPORATE</div>
      </div>
  </div>
  <div class="ac l50 m50 s100">
      <div class="pt-9">
          <nav id="aione_nav" class="aione-nav horizontal ">
              <ul id="aione_menu" class="aione-menu">
                  <li class="aione-nav-item level0">
                      <a href="index.html"><span class="pr-25 nav-item-text" data-hover="Home">Home</span></a>
                  </li>
                  <li class="aione-nav-item level0">
                      <a href="about.html"><span class="pr-25 nav-item-text " data-hover="Home">About</span></a>
                  </li>

                  <li class="aione-nav-item level0">
                      <a href="services.html"><span class="pr-25 nav-item-text" data-hover="Services">Services</span></a>
                      <ul id="aione_menu" class="aione-menu">
                        <li class="aione-nav-item level0"><a href="services-1.html"><span class="nav-item-text">Service-1</span></a></li>
                        <li class="aione-nav-item level0"><a href="services-2.html"><span class="nav-item-text">Service-2</span></a></li>
                      </ul>
                  </li>

                  <li class="aione-nav-item level0">
                      <a href="blog.html"><span class="pr-25 nav-item-text" data-hover="Home">Blog</span></a>
                      <ul id="aione_menu" class="aione-menu">
                        <li class="aione-nav-item level0"><a href="blog-1.html"><span class="nav-item-text">Blog-1</span></a></li>
                        <li class="aione-nav-item level0"><a href="blog-right-side-img.html"><span class="nav-item-text">Blog Right Side</span></a></li>
                        <li class="aione-nav-item level0"><a href="blog-left-side-img.html"><span class="nav-item-text">Blog Left Side</span></a></li>
                        <li class="aione-nav-item level0"><a href="single-post-right-side.html"><span class="nav-item-text">Single Post Right Side</span></a></li>
                        <li class="aione-nav-item level0"><a href="single-post-left-side.html"><span class="nav-item-text">Single Post Left Side</span></a></li>
                      </ul>
                  </li>
                  <li class="aione-nav-item level0">
                      <a href="portfolio.html"><span class="pr-25 nav-item-text" data-hover="Home">Portfolio</span></a>
                  </li>
                  <li class="aione-nav-item level0">
                      <a href="contact"><span class="pr-25 nav-item-text" data-hover="Home">Contact</span></a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <div class="ac l30 m50 s100">
      <div class="pt-15 aione-align-right pr-20 icon-hover">
          <span><i class="ion-ios-search-strong font-size-20 pr-3 grey darken-3"> </i></span>
          <span class="grey lighten-2 font-size-20">|</span>
          <span><i class="ion-bag font-size-20 grey darken-3"></i></span>
      </div>
  </div>
</div>