 <div class="wrapper">
    <div class="ar  border-grey border-darken-1">
        <div class="ac l25 m20 s100  border-grey border-darken-1">
            <i class="ion-ios-infinite white font-size-40 line-height-75 ml-5" style="vertical-align: super;"></i>
            <div  class="display-inline-block white ml-10">
                <div class="font-size-28 line-height-44">Infinite Corporate</div>
                <div class="font-weight-700 grey lighten-1">Developing the .com trend...</div>
            </div>
        </div>
        <div class="ac l75 m50 s100 ">
            <nav id="aione_nav" class="aione-nav horizontal underline-down">
                <ul id="aione_menu" class="aione-menu aione-float-right">
                    <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Home</span></a></li>
                    <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">About Us</span></a></li>
                    <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Services</span></a></li>
                    <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Products</span></a></li>
                    <!-- <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Portfolio</span></a></li> -->
                    
                    <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Blog</span></a></li>
                    <li class="aione-nav-item level0"><a href="#"><span class="nav-item-text" data-hover="Home">Contact Us</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div><!-- .wrapper -->  