         .gradient-color{
         background: linear-gradient(45deg, rgba(11,105,222,1) 0%, rgba(80,70,203,1) 100%);
         }
         .bg-img-rotate{
         background-image: url('assets/images/img-wave-rotate.png');
         background-repeat: no-repeat;
         background-size: cover;
         }
         .aione-tabs-nav li {
            width: 33%;
            margin-right:0px;
            text-align: center;
         }
         .aione-tabs-nav ul li .aione-tab-icon{
            font-size: 30px;
            line-height: 40px;
            text-align: center;
         }
         .aione-tabs-nav.horizontal li{
            padding: 7px 76px;
            text-align: center;
            font-size: 15px;
         }
          @media (max-width:360px)
          {
              .wave-img
              {
               top:317px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top: 32%;
               margin-left: 150px;
               height: 170px;
               width: 123px;

              }
              .para
              {
               line-height: 24px;
               font-size: 16px;
               font-weight: 300;
               color: white;
             }
             .heading
             {
               font-weight: 900;
               margin-bottom: 27px;
               color: #fff;
               font-size: 25px;
             }
          }
          @media (min-width:360px) and (max-width:389px)
          {
             .wave-img
              {
               top:317px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top: 32%;
               margin-left: 150px;
               height: 170px;
               width: 123px;

              }
              .para
              {
               line-height: 24px;
               font-size: 16px;
               font-weight: 300;
               color: white;
             }
             .heading
             {
               font-weight: 900;
               margin-bottom: 27px;
               color: #fff;
               font-size: 25px;
             }
          }
          @media (min-width:389px) and (max-width:450px)
          {
             .wave-img
              {
               top:284px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top: 22%;
               margin-left: 206px;
               height: 170px;
               width: 123px;

              }
              .para
              {
               line-height: 24px;
               font-size: 16px;
               font-weight: 300;
               color: white;
             }
             .heading
             {
               font-weight: 900;
               margin-bottom: 27px;
               color: #fff;
               font-size: 25px;
             }
          }
           @media (min-width:450px) and (max-width:500px)
          {
             .wave-img
              {
               top:277px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top: 21%;
               margin-left: 245px;
               height: 170px;
               width: 123px;

              }
              .para
              {
               line-height: 24px;
               font-size: 16px;
               font-weight: 300;
               color: white;
             }
             .heading
             {
               font-weight: 900;
               margin-bottom: 27px;
               color: #fff;
               font-size: 25px;
             }
          }
          @media (min-width:500px) and (max-width:600px)
          {
             .wave-img
              {
               top:251px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top:20%;
               margin-left:305px;
               height:230px;
               width:160px;

              }
              .para
              {
               line-height: 24px;
               font-size: 16px;
               font-weight: 300;
               color: white;
             }
             .heading
             {
               font-weight: 900;
               margin-bottom: 27px;
               color: #fff;
               font-size: 25px;
             }
          }
             @media (min-width:600px) and (max-width:700px)
             {
              .wave-img
              {
               top:243px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top:20%;
               margin-left:-9px;
              

              }
              .para
              {
               line-height: 24px;
               font-size: 18px;
               font-weight: 300;
               color: white;
             }
             .heading
             {
               font-weight: 900;
               margin-bottom: 27px;
               color: #fff;
               font-size:30px;
             }
          
             }
          @media (min-width:700px) and (max-width:800px)
          {
              .wave-img
              {
               top:215px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top:14%;
               margin-left:-1px;
              }
          }@media (min-width:800px) and (max-width:900px)
          {
              .wave-img
              {
               top:156px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top:14%;
               margin-left:-1px;
              }
          }
           
          @media (min-width:900px) and (max-width:1130px)
          {
              .wave-img
              {
               top:101px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top: 21%;
              
              }
          }
          @media (min-width:1130px) and (max-width:1300px)
          {
              .wave-img
              {
               top:53px;
               position: absolute;
              }
              .mobile-img
              {
               position: absolute;
               top: 21%;
              
              }
          }

           @media (max-width:600px)
          {
              .coll
              {
                top: 10px;
              }
          }